{% extends 'base.html' %}
{% load static %}
{% block title %} Index
{% endblock %}


{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Information Communication Technology Department</h1>

            </div>
          </div>
        </div>
      </div>

    </div>

  <section id="course-index" class="section course-index">

      <div class="container">

        <div class="row">

          <div class="col-lg-12 col-md-12 d-flex" data-aos="fade-up" data-aos-delay="500">

           <div class="member-info text-center">
              <img src="{% static 'img/alfred.jpg' %}" class="img-fluid" alt="" height="200" width="200">
              <div class="member-content">
                <h3>Mr. Alfred M. Okora</h3>
                  <h4>Head of Department</h4>
                  <h4>Information Communication Technology</h4>

                <p>
                    Welcome to the Department of Information Communication Technology (ICT) at Madogo Vocational Training Centre
                    We are delighted to have you explore the dynamic and ever-evolving world of ICT with us. Our department offers a wide range of courses designed to equip you with the skills and knowledge to excel in today's digital era.
                    Our programs include:

                            <li>ICT Level 1</li>
                            <li>ICT Level 2</li>
                            <li>ICT Level 3</li>
                            <li>ICT Level 4</li>
                            <li>ICT Level 5</li>
                            <li>Computer Operator</li>
                            <li>Computer Packages</li>
                            <li>Web Development</li>

                  Our training approach combines theoretical learning with hands-on practical experience to ensure a comprehensive understanding of ICT concepts and their real-world applications. We conduct two types of assessments:
                  <ol>1. Formative Assessment: Continuous evaluation to track your progress throughout the course.</ol>
                  <ol>2. Summative Assessment: Administered by accredited bodies such as CDAAC, NITA, and KNEC to validate your competencies.</ol>
                  After completing the training, trainees proceed to a three-month industrial attachment, where they gain valuable industry exposure and practical experience. Upon successful completion, trainees graduate, ready to take on the challenges of the ICT field.
                  Whether you're looking to kickstart your ICT career or enhance your existing skills, we are here to guide and support you on your journey. Welcome to a learning environment where innovation meets opportunity.

            </p>

          </div>


        </main>

     {% endblock %}
